.DS_Store
node_modules
/build
/.svelte-kit
/package
/geosplitter/venv
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Nicht die Geodaten pushen, den Ordner mit den Segmenten schon!
/static/segments/*
!/static/segments/

/import/data
/import/venv