.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/.env
!frontend/.env.example
frontend/.vercel
frontend/.output
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

# Nicht die Geodaten pushen, den Ordner mit den Segmenten schon!
frontend/static/segments/

preparation/geosplitter/venv
preparation/geosplitter/.ipynb_checkpoints
preparation/import/data
preparation/import/venv
preparation/geosplitter/data
preparation/geosplitter/segments


segments/
.DS_Store